@layer reset, base, navigation, components;

@layer reset
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    html, body
    {
        width: 100%;
        overflow-x: hidden;
        font-size: 14px;
    }
}

@layer base
{
    :root
    {
        --background-color: white;
        --text-color: black;
        --primary-color: #6d064e;
        --secondary-color: #23414a;
        --light-background: #ffffff;
        --dark-background: #0a181d;
        --light-text: #ffffff;
        --dark-text: #000000;
    }

    @media(prefers-color-scheme: dark)
    {
        :root
        {
            --background-color: var(--dark-background);
            --text-color: #ffffff;
            --secondary-color: #09171b;
            --light-background: #495057;
            --dark-background: #000000;
        }
    }
}

@layer base
{
    body
    {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        line-height: 1.6;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    a
    {
        text-decoration: none;
        color: inherit;
    }

}

@layer navigation
{
    
    header
    {
        background: var(--dark-background);
        color: var(--light-text);
        padding: 20px;
        border-block-end: solid 1px var(--primary-color);

        nav
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 15px;
        }

        .logo
        {
            font-size: 1.35rem;
            font-weight: bold;
        }

        .menu-toggle
        {
            font-size: 2rem;

            @media (width > 768px)
            {
                display: none;
            }
        }

        .navList
        {
            display: none;
            background: var(--dark-background);
            text-align: right;
            list-style: none;
            flex-direction: column;

            &.active
            {
                display: flex;
            }

            @media (width <= 768px)
            {
                top: 60px;
                right: 0px;
                width: 100%;
                position: absolute;
                z-index: 1000;
            }

            @media (width > 768px)
            {
                display: flex;
                flex-direction: row;
            }

            li
            {
                opacity: 0.8;
                
                &:hover
                {
                    opacity: 1;
                    transition: 0.3s;
                }

                margin: 0px;
                @media(width > 768px)
                {
                    margin-left: 1rem;
                }

                a
                {
                    display: block;
                    padding: 1rem;

                    &:hover
                    {
                        @media (width <= 768px)
                        {
                            background-color: var(--secondary-color);
                            color: var(--light-var);
                        }
                    }
                }

                @media(width <= 768px)
                {
                    border-block-end: solid 1px var(--primary-color);
                    opacity: 0.9;
                    transition: background 0.3s, color 0.3s;
                }
            }
        }
    }
}

@layer components 
{
    
    .homeConfig
    {
        background-image: url(../images/download-laptop-wallpaper-h4n6pox16lk6fxve.jpg);
        background-position: center center;
        background-size: cover;
        color: var(--light-text);
        text-align: center;
        padding-block: 6rem;

        h1
        {
            font-size: 4rem;
            opacity: 0.9;
        }

        p 
        {
            font-size: 1.50rem;
            margin-block: 1rem;
            opacity: 0.9;
        }

        .learnMoreButton
        {
            margin-block: 1.75rem;
            font-size: 1.15rem;
            padding-inline: 25px;
            padding-block: 10px;
            background-color: var(--primary-color);
            color: var(--light-text);
            border-radius: 7px;
            border: 0px;
            opacity: 0.85;

            &:hover
            {
                opacity: 1;
                transition: 0.5s;
            }
        }
    }

    h2
    {
        font-size: 1.75rem;
    }


    #features
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        background-color: var(--primary-color);
        gap: 5rem;
        padding-block: 2rem;
    }

    .featureList
    {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr) ;
    }
}
